{% extends 'index.html' %}

{% block title %}Signup{% endblock %}

{% block contents %}

    <div class="container">
        <div class="common-form">
        <h3>Sign up</h3>
            <div class="table-responsive">
                <table class="table table-sm text-nowrap">
                    <form method="POST">
                        {% csrf_token %}
                        <tbody>
                            {{ form.as_table }}
                            <td><button type="submit" class="btn-primary">Sign up</button></td>
                        </tbody>
                    </form>
                </table>
            </div>
        </div>
    </div>

{% endblock %}